@{
    ViewData["Title"] = "Payment Link Pending";
}

<h2>Thank you!</h2>
<p>Your subscription request has been received. A payment link will be sent to your registered email shortly.</p>

<a href="/">Go to Home</a>